{% extends 'rooms/base.html' %}
{% block css %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'rooms/home.css' %}">
{% endblock %}
{% block title %}
    Rooms
{% endblock %}
{% block titl %}
    Book a room for your guests
{% endblock %}
{% block body %}
    <div class="container">
	  		<div class="row">
	  			<div class="container">
	  				<div class="row contents-box center">
                         <h4>Some Days with your Beloved Ones:</h4>
            <h6>But we follow a strict pathway. <br> Request a Room to the Concerned</h6>
            <div class="col s12 center"><a href="{% url 'rooms:requestroom' %}"><button class="upload-btn">Room Request</button></a></div>
</div>
				</div>
			</div>
</div>
{% endblock %}