{% extends 'welfare/base.html' %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'terashare/file.css' %}">
{% endblock %}
{% block titl %}
    Your complaints and status
{% endblock %}
{% block body %}

<div class="container">
  		<div class="row">
  			<div class="container">
  				<div class="row">
					<div class="search center">
                        <div class="search-section"><input type="text" id="myInput" onkeyup="myFunction()" class="search-box" placeholder="Search for Books and so on"><a class="upload-button" href="{% url 'welfare:register' %}"><div class="tiny material-icons">edit</div></a><button type="submit" class="search-button"><div class="tiny material-icons">search</div></button>
						</div>
					</div>

					<div class="browse">
						<nav class="smaller-nav">
							<div class="nav-wrapper indigo darken-3">
								  <ul class="brand-logo">
                                      <li><a href="#">Complaints</a></li>
								  </ul>

                        </div>
						</nav>
					</div>
					<div class="searched-items">
					<ul class="collection" id="myUL">
                    <script type="text/javascript">
                        var flag = false
                    </script>
                        {% for complaint in complaints %}
                                <script type="text/javascript">
                                     var flag = true
                                </script>
                                <li class="collection-item avatar">
					                <span class="title">{{ complaint }} ( {{ complaint.Category }} )</span>
					                <p>{{ complaint.Description }}</p>
                                    <div><button class="download-button">{% if complaint.is_resolved %}Resolved{% else %}Pending{% endif %}</button></div>
					            </li>
                        {% endfor %}
					  </ul>
                        <script>
                           if (flag == false) {
                               document.write("<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No Complaints yet</h3>")
                           }
                        </script>
					</div>
				</div>
			</div>
		</div>
	</div>
    <script>

jQuery(document).ready(function($){

$('.collection li').each(function(){
$(this).attr('data-search-term', $(this).text().toLowerCase());
});

$('.search-box').on('keyup', function(){

var searchTerm = $(this).val().toLowerCase();

    $('.collection li').each(function(){

        if ($(this).filter('[data-search-term *= ' + searchTerm + ']').length > 0 || searchTerm.length < 1) {
            $(this).show();
        } else {
            $(this).hide();
        }

    });

});

});
</script>

{% endblock %}
