body
			{
				background-color: #f4f4f4;
			}
			.contents-box
			{
				margin-top: 3rem;
				background: rgba(63,81,181,1);
				padding: 50px;
				color: #ffffff;
			}
			.form-btn
			{
				background-color: #ff4086;
				border: 0px;
				margin-top: 20px;
				padding: 10px;
				color: #ffffff;
			}
